<div class="col-md-10 main">
    <div class="row">
      <div class="col-md-12 title-bar">
        <h3>Wachtwoorden</h3>
      </div>
      <ng-container *ngFor="let password of (passwords$ | async)" >
        <li *ngIf="password.isActive == true" style="list-style: none;">
            <div class="col-md-12 current-client" style="margin-top: 3%;">

                  <h4>{{password.name}}</h4>
                  <ul>
                      <li><b>Gebruikersnaam:</b> {{password.Username}}</li>
                      <li><b>Wachtwoord:</b> {{password.password}}</li>
                      <li><b>URL:</b> {{password.URL}}</li>
                    </ul>


            </div>
        </li>
      </ng-container>
    </div>
</div>