<div class="col-md-10 main">
  <div class="row">
    <div class="col-md-12 title-bar">
      <h3>Nieuwe klant</h3>
    </div>
    <div class="col-md-12 newClient">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group col-md-6 background-form">
              <label for="clientName">Naam contactpersoon:</label><br>
              <input ngModel required name="clientName" id="clientName" type="text" #clientName="ngModel" (change)="show()" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label for="companyName">Bedrijfsnaam</label><br>
              <input ngModel required name="companyName" id="companyName" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="phonenumber">Telefoonnummer</label><br>
                <input ngModel required name="phonenumber" id="phonenumber" type="tel" class="form-control">
              </div>
              <div class="form-group col-md-6">
                  <label for="email">E-mail</label><br>
                  <input ngModel required name="email" id="email" type="email" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="notes">Notitie/ Aantekingen</label><br>
                    <textarea ngModel name="notes" id="notes" class="form-control"></textarea>
                  </div>
                  
            <button class="btn btn-primary">Opslaan</button>
          </form>
    </div>
  </div>
</div>